body{
    background-color: cadetblue;
}

header{
    font-family: 'Montserrat';
    font-size: 18px;
    color: aliceblue;
    text-shadow: 4px 4px #000;
    text-align: center;
}

section{
    background-color: aliceblue;
    border-radius: 10px;
    width: 430px;
    margin: auto;
    padding: 12px;
    box-shadow: 8px 8px #000;
    text-align: center;
}

select{
    margin: 10px;
    width: 176px;
}

div#res{
    font-size: 22px;
    margin-top: 10px;
}

footer{
    text-align: center;
    margin-top: 40px;
    font-style: italic;
    font-size: 20px;
    color: white;
}
